.meet {
  background-color: $secondary-deep-jungle-green;
  background-image: url(../../images/about-img/about-meet-bottom-bg-img.svg),
    url(../../images/about-img/about-meet-top-bg-img.svg);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}

.meet-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.responsive-condition {
  display: none;
  flex-direction: column;
  gap: 4.8rem;
}
.about__title {
  @include fontSettings($h2-font-size, 700, $h2-lh, $primary-whtie);
  text-align: center;
  padding-top: 14rem;
  margin-bottom: 6.4rem;
}
.about__wrapper_top {
  display: flex;

  gap: 2.7%;
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include wrapperSettings(350px);
  position: relative;
  background-color: $secondary-sacramento-state-green;
}
.about-content__img {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  object-fit: contain;
}
.about-content__text_name {
  @include fontSettings(
    $body1-font-size,
    700,
    $body1-lh,
    $secondary-rapture-blue
  );
}
.about-content__text_job {
  @include fontSettings($body2-font-size, 500, $body2-lh, $primary-whtie);
  font-style: italic;
  margin-bottom: 5.6rem;
}
.about__btn_pink {
  position: absolute;
  background-color: $primary-ligth-coral;
  border-radius: 50%;
  padding: 2rem;
  bottom: -28px;
}
.about__wrapper_bottom {
  display: flex;
  gap: 2.7%;
  margin-bottom: 14rem;
}
.about__wrapper_center {
  display: flex;
  gap: 2.7%;
}

.about__content_info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include wrapperSettings(350px);
  position: relative;
  background-color: $secondary-dark-green;
}
.about-content__text_wrapper {
  @include wrapperSettings(254px);
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content-info__text_name {
  @include fontSettings(
    $body1-font-size,
    700,
    $body1-lh,
    $secondary-rapture-blue
  );
  padding-top: 3.5rem;
  margin-bottom: 8px;
}
.about-content-info__text_desciption {
  text-align: center;
  @include fontSettings($body2-font-size, 600, $body2-lh, $primary-whtie);
}
.about-content-info__icon_wrapper {
  display: flex;
  gap: 1.6rem;
}

.about__btn_blue {
  position: absolute;
  background-color: $secondary-rapture-blue;
  border-radius: 50%;
  padding: 2rem;
  bottom: -28px;
}

@media (max-width: 950px) {
  .about__title {
    padding-top: 10rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 800px) {
  .about__title {
    padding-top: 6rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 700px) {
  .meet-container {
    display: none;
  }
  .responsive-condition {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }
}

@media (max-width: 570px) {
  .about__title {
    @include fontSettings(4rem, 700, $h2-lh, $primary-whtie);
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 1rem;
  }
  .about__wrapper_bottom {
    display: flex;
    gap: 2.7%;
    margin-bottom: 7rem;
  }
}

@media (max-width: 490px) {
  .meet {
    background-color: $secondary-deep-jungle-green;
    background-image: url(../../images/about-img/about-meet-bottom-bg-img.svg),
      url(../../images/about-img/about-meet-responsive-top-bg-img.svg);
    background-repeat: no-repeat;
    background-position: right bottom, left top;
  }
  .meet-container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }
  .responsive-condition {
    display: none;
    flex-direction: column;
    gap: 4.8rem;
  }
  .about__wrapper_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .about__wrapper_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 14rem;
  }
  .about-content-info__icon_wrapper {
    margin-bottom: 8rem;
  }
}
